<div class="menus_mbl">
  <div class="main-secondary-menus-mbl-wrap">
    <!-- Main -->
    <%= render 'shared/menus/mobile/main-mobile' %>

    <!-- Secondary -->
    <%= render 'shared/menus/mobile/search-mobile' %>
  </div>

  <!-- Side Drawer -->
  <%= render 'shared/menus/mobile/side-mobile' %>
</div>