<nav class="main-menu_mbl" role="navigation" aria-label="Mobile Main Menu">
  <a href="#" class="trigger-side-menu_mbl">
    <svg class="icon icon-profile-outline"><use xlink:href="images/svg/icons.svg#icon-profile-outline"></use></svg>
  </a>
  <ul class="nav-list">
    <li class="thoughts"><a href="thoughts.html"><span>Thoughts</span></a></li>

    <li class="buckets active"><a href="buckets.html"><span>Buckets</span></a></li>

    <li class="nudges"><a href="nudges.html"><span>Nudges</span></a></li>
  </ul>
  <a href="thought_blank.html" class="add-thought">
    <span class="tipso add-thought-tooltip" data-tipso="New Thought"><span class="icon">+</span></span>
  </a>
</nav>