<nav class="side-menu_mbl" role="navigation" aria-label="Mobile Side Menu">
  <header>
    <a href="#" class="close-side-menu_mbl">
      <svg class="icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
    </a>
    <div class="title-wrap">
      <span class="name">Courtney Bradford</span>
    </div>
  </header>
  <ul class="nav-list">
    <div class="list-section">
      <li><h5>Account</h5></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">Favorites</a></li>
      <li><a href="#">Most Recent</a></li>
    </div>

    <div class="list-section">
      <li><h5>Support</h5></li>
      <li><a href="#">Keyboard Shortcuts</a></li>
      <li class="highlight"><a href="#">Logout</a></li>
    </div>
  </ul>                    
</nav>