<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <br/>
    <p class="lead">The palest ink is better than the best memory. Start converting short term memory to long term memory.</p>
    <br/>
  </div>
</div>

<%= render 'sign_in_form' %>