<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <input type="text" class="form-control" id="bucket-search" placeholder="Filter...">
    </div>
  </div>
</div>

<script>

  $(document).ready(function () {

    var array = $(".bucket-container");
    var count = array.size();
    console.log(count);

    $('#bucket-search').keyup(function () { 
       var text = $('#bucket-search').val();
       console.log(text);
       $.each( array, function( key, value ) {
          console.log(value);
          var string = $(value).text();
          if (string.toLowerCase().indexOf(text.toLowerCase()) >= 0) {
            //FOUND
            $(value).show();
          } else {
            $(value).hide();
          }
        });
    });

  });

</script>