.brand {
    width:30px;
    margin: 0 auto 12px;
    display: block;
    }
    .side-nav {
    display: block;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0.875rem 0; }
    .side-nav li {
    font-size: 0.875rem;
    font-weight: 400;
    margin: 0 0 0.4375rem 0; }
    .side-nav li a:not(.button) {
    color: #47494A;
    display: block;
    margin: 0;
    padding: 0.4375rem 0.875rem; }
    .side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
    background: rgba(0, 0, 0, 0.025);
    color: #7d8082; }
    .side-nav li a:not(.button):active {
    color: #7d8082; }
    .side-nav li.active > a:first-child:not(.button) {
    color: #7d8082;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 400; }
    .side-nav li.divider {
    border-top: 1px solid;
    height: 0;
    list-style: none;
    padding: 0;
    border-top-color: #e6e6e6; }
    .side-nav li.heading {
    color: #47494A;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase; }
    .index-list {
    max-width:460px;
    margin: 0 auto ;
    }