<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">

  <!-- Buckets Search Tools -->
  <div class="buckets-search-wrap">
    <div class="options-wrap">
      <div class="currently" >
        <h5>All Buckets</h5>
        <span id="current-selection">A-Z</span>
      </div>
      <div class="sort-and-add">
        <div class="sort-buckets">
          <select class="nice" dir="rtl" id="sort-by-select">
            <option data-selection="A-Z" value="alph">Sort A-Z</option>
            <option data-selection="by date" value="date">Sort by date</option>
          </select>
        </div>
        <!-- <a href="#" class="button">Add Bucket</a> -->
      </div>
    </div>
    <div class="search-input-wrap">
      <svg class="icon icon-find"><use xlink:href="#icon-find"></use></svg>
      <input id="search-buckets-input" type="text" autocomplete="on" spellcheck="false" autocorrect="off" placeholder="Find a bucket…"/>
    </div>
  </div>

  <!-- Buckets -->
  <div class="buckets-list-wrap" id="buckets-list">
    <!-- List -->
    <%= render 'shared/buckets/sorted_buckets', :buckets => @buckets %>
  </div>
</main>

<!-- SVGs -->
<%= render "shared/buckets/hippo_star" %>
<%= render 'shared/modals/new_bucket_modal' %>        

</div>
