<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">
  <div class="thoughts-list-wrap sorted-list" id="thoughts-list-present">
    <div class="search-results-list"></div>
    <%= render 'shared/items/sorted_items', :items => @items %>
    <%= render 'shared/items/thought_entry_form' %>
  </div>
</main>    

<%= render 'shared/items/thought_entry_form_js' %>
