<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">
  <div class="thoughts-list-wrap">
    <ul class="thoughts-list scene_element--fadeinup scene_element scene_delay" id="item-list">
      <% @items.each do |item| %>
        <%= render 'shared/items/item_preview', :item => item %>
      <% end %>
    </ul>
    <div id="sBtm"></div>
    <%= render 'shared/items/thought_entry_form' %>
  </div>
</main>    

<%= render 'shared/items/thought_entry_form_js' %>
