<!-- Main Menu -->
<%= render "shared/menus/desktop/main-menu" %>

<!-- Side Menu -->
<%= render "shared/menus/desktop/side-menu" %>

<!-- Menus_mbl -->
<%= render "shared/menus/mobile/all-mobile" %>

<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">
  <!-- Nudges -->
  <div class="nudges-list-wrap">
    <!-- List -->
    <ul class="list nudges-list scene_element--fadeinup scene_element scene_delay">
      <li class="section"><h5>upcoming nudges</h5></li>
      <% @reminders.each do |i| %>
        <%= render 'reminder_preview', :item => i %>
      <% end %>
    </ul>
  </div>
</main>