<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content">
  <!-- Nudges -->
  <div class="nudges-list-wrap sorted-list">
    <div class="search-results-list" style="margin-top:20px;"></div>
    <!-- List -->
    <ul class="list nudges-list scene_element--fadeinup scene_element scene_delay">
      <% alreadyDisplayedToday = false %>
      <% alreadyDisplayedUpcoming = false %>
      <% @reminders.each do |i| %>
        <% if (formatted_date(i.next_reminder_date) == formatted_date(DateTime.now.in_time_zone(current_user.time_zone))) && !alreadyDisplayedToday %>
          <% alreadyDisplayedToday = true %>
          <li class="section"><h5>today's nudges</h5></li>
        <% elsif !alreadyDisplayedUpcoming %>
          <% alreadyDisplayedUpcoming = true %>
          <li class="section"><h5>upcoming nudges</h5></li>
        <% end %>
        <%= render 'reminder_preview', :item => i %>
      <% end %>
    </ul>
  </div>
</main>