<!-- Main Content -->
<main class="main-content" role="main" aria-label="Main Content" page-present="reminders">

  <%= render 'shared/search_results_list' %>
  
  <!-- Nudges -->
  <div class="nudges-list-wrap sorted-list">
    <!-- List -->
    <ul class="list nudges-list scene_element--fadeinup scene_element scene_delay" id="nudges-list">
      <% if @reminders.count == 0 %>
        <li class="section"><h5>No upcoming nudges!</h5></li>
      <% else %>
        <%= render 'shared/items/reminder_list', :reminders => @reminders, :page => @page %>
      <% end %>
    </ul>
  </div>
</main>

<%= render 'shared/items/paginate_reminders_js' %>