<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <a href=<%= new_item_path %> class="list-group-item">
        <div class="row">
          <div class="col-md-1">
            <p class="list-group-item-text" style="overflow:hidden;">+ New Note</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<% if @user.items.outstanding.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.outstanding.includes(:buckets).each do |i| %>
          <%= render 'shared/items/listed_item', :i => i, :include_buckets => false %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>


<% if @user.items.assigned.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.assigned.includes(:buckets).each do |i| %>
          <%= render 'shared/items/listed_item', :i => i, :include_buckets => true %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
