<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "+ New Note", new_note_path(@bucket), :class => "btn btn-primary btn-lg btn-block" %>
  </div>
</div>

<% if @user.items.outstanding.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.outstanding.includes(:buckets).each do |i| %>
          <%= render 'shared/items/listed_item', :i => i, :include_buckets => false %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>


<% if @user.items.assigned.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.items.by_date.assigned.includes(:buckets).each do |i| %>
          <%= render 'shared/items/listed_item', :i => i, :include_buckets => false %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
