  <div id="skrollr-body" class="site_wrap">
    <!-- Menu -->
    <nav id="main_menu" role="navigation" aria-label="Main Menu">
      <div class="max_bounds">
        <a href="/home" class="brand"><svg class="brand-icon"><use xlink:href="/outside/images/svg/icons.svg#brand-icon"/></svg></a>
        <ul class="utilities">
          <li><a href="#waitlist">Join the Waitlist</a></li>
          <!--<li><a href="#">Login</a></li>-->
        </ul>
      </div>
    </nav>



    <header id="site_header" >
      <div class="content max_bounds">
        <div class="inner">
          <h1>The personal relationship manager. <br> Because <span>people</span> matter.</h1>
          <a href="#waitlist" id="actionHover01" class="button pink">Try Out Hippo</a>
        </div>
      </div>
      
      <script>
        // Yeah. It's oldschool. And effective. And weighs the same as a duck.
        function imgLoaded(img) {
            var imgWrapper = img.parentNode;
            imgWrapper.className += imgWrapper.className ? ' loaded' : 'loaded';
        };
        </script>

      <div class="profiles_wrap">
        <div class="gradient-chrome"></div>
        <div class="gradient-ocean"></div>
        <div id="images">
            <div class="item"><img src="/outside/images/temp-profiles/profile_5.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_1.jpg" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_2.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_3.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_4.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_6.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_7.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_9.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_10.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_12.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_13.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_14.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_19.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_1.jpg" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_2.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_3.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_4.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_5.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_6.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_7.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_9.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_10.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_12.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_13.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_14.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_19.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_5.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_1.jpg" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_2.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_3.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_4.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_6.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_7.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_9.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_10.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_12.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_13.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_14.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_19.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_1.jpg" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_2.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_3.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_4.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_5.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_6.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_7.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_9.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_10.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_12.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_13.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_14.png" onload="imgLoaded(this)" alt=""></div>
          <div class="item"><img src="/outside/images/temp-profiles/profile_19.png" onload="imgLoaded(this)" alt=""></div>
        </div>
      </div>
    </header>

    <!-- Content -->
    <main id="main_content" role="main" aria-label="Main Content">
      <!-- Using Hippo -->
      <section id="using_hippo" class="how_to_hero step">
        <div class="inner max_bounds">
          <header class="center_header">
            <h3>Why?</h3>
            <p>Because relationships are everything.</p>
          </header>

          <div class="how_to_art">
            <img src="/outside/images/svg/hippo-illustration.svg" alt="">
          </div>
          <div class="content first">
            <ul class="tabs first">
              <li class="tab_link current" data-tab="tab_1">Roosevelt's "Farley File"</li>
              <li class="tab_link" data-tab="tab_2">Your Grandmother's Birthday</li>
              <li class="tab_link" data-tab="tab_3">Your Coworker's Husband</li>
              <li class="tab_link" data-tab="tab_4">Your Client's Interests</li>
              <li class="tab_link" data-tab="tab_5">"To Be Interesting, Be Interested"</li>
            </ul>

            <div id="tab_1" class="tab_content current">
              <p>
                James Farley, who served as Franklin D. Roosevelt's campaign manager, kept a file on everyone the President ever met with. Whenever people were scheduled to meet again with Roosevelt, Farley would present a file containing their spouse's name, their children's names and ages, and anything that had come out of earlier meetings.
                <br><br>
                The effect was "powerful and intimate."
              </p>
            </div>
            <div id="tab_2" class="tab_content">
              <p>You love your grandmother. You don't have to send her a nice gift to make her smile on her birthday; a phone call will go a long way. Hippo will send you a text message each morning with your nudges for that day - everything from your grandmother's birthday to your friend's upcoming trip.<br><br>Reaching out is important. Spread the love.</p>
            </div>
            <div id="tab_3" class="tab_content">
              <p>We spend more time at work than we do at home. Being close to your coworkers is one of the leading indicators of happiness.<br><br>Show your colleagues you care by asking about their spouse's surgery. Or acknowledging when their kids reach important milestones.<br><br>It's hard to take the time to make people smile, but it's worth it.</p>
            </div>
            <div id="tab_4" class="tab_content">
              <p>Sales is not just about the product. Increasingly, it's about your relationship with your clients. Are you writing things down about your customers?
                <br><br>
                "About 15% of one's financial success is due to one's technical knowledge and about 85 percent is due to skill in human engineering - to personality and the ability to lead people." - Dale Carnegie
              </p>
            </div>
            <div id="tab_5" class="tab_content">
              <p>"You can make more friends in two months by becoming interested in other people than you can in two years by trying to get other people interested in you. To be interesting, be interested." - Dale Carnegie</p>
            </div>
            
          </div>
        </div>
      </section>

      <!-- Demo Video -->
      <section id="demo_video" class="video_hero step" data-1200="background: linear-gradient(-16deg, #6a4ca6, #ed2fa1)" data-2000="background: linear-gradient(120deg, #6a4ca6, #ed2fa1)">
        <div class="inner max_bounds">
          <header class="center_header">
            <h4>What makes a good life?</h4>
            <p>Lessons from a 75-year Harvard study on happiness.</p>
          </header>
          <div class="mac">
            <a class="" id="watchVideo" data-rel="lightcase" href="https://res.cloudinary.com/hbztmvh3r/video/upload/v1453769838/RobertWaldinger_2015X-480p_vm46xc.mp4"><svg class="pulse play-icon"><use xlink:href="/outside/images/svg/icons.svg#play-icon"/></svg></a>
            <img src="/outside/images/mac.png" alt="">
          </div>
        </div>
      </section>

      <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/q-7zAkwAOYg" frameborder="0" allowfullscreen></iframe> -->

      <!-- Testimonials -->
      <section id="testimonials_hero" class="step">
        <div class="inner max_bounds">
          <span class="quote-icon">“</span>
          
          <!-- <div class="quote"> -->
          <div class="quote" data-1000="transform: translate3d(0,100px,0);" data-2400="transform: translate3d(0,0,0);">
            <blockquote>
              <div class="inner">
                <p>If you want to get sharper and better at something, track it and measure it. It will help you do that.</p>
              </div>
            </blockquote>
            <cite>
              <img src="//pbs.twimg.com/profile_images/3580641456/82c873940343750638b7caa04b4652fe.jpeg" alt="" class="profile">
              <div class="detail">
                <span class="title">Fred Wilson</span>
                <span class="meta">AVC</span>
              </div>
            </cite>
          </div>

          <!-- <div class="quote"> -->
          <div class="quote" data-1000="transform: translate3d(0,-100px,0);" data-2400="transform: translate3d(0,0,0);">
            <blockquote>
              <div class="inner">
                <p>Everyone wants to be interesting - but the vitalizing thing is to be interested.</p>
              </div>
            </blockquote>
            <cite>
              <img src="//res.cloudinary.com/hbztmvh3r/image/upload/c_fill,g_face,h_440,w_440/v1453702416/440px-John_Gardner_author_1979_q4n2ft.jpg" alt="" class="profile">
              <div class="detail">
                <span class="title">John Gardner</span>
                <span class="meta">Novelist</span>
              </div>
            </cite>
          </div>
        </div>
      </section>

      <!-- Demo Video -->
      <section id="demo_video" class="video_hero step" data-1200="background: linear-gradient(-16deg, #6a4ca6, #ed2fa1)" data-2000="background: linear-gradient(120deg, #6a4ca6, #ed2fa1)">
        <div class="inner max_bounds">
          <header class="center_header">
            <h4>Manifesto</h4>
            <p>We initially built Hippo to remember details about investors we were meeting, although over the past two years Hippo has changed our lives.</p>
            <p>Hippo has become an assistant for our brains. It helps us advance our careers, improve our relationships, and close more deals. Hippo is so important to us that we'll never raise money for it, never sell it, never sell your data, never stop working on it and never shut it down.</p>
            <p>Set a nudge for 50 years from now and you will receive it.</p>
            <p>Hippo is $5/month. For the price of a cup of coffee, you can remember those tiny details about people that make all the difference.</p>
            <p>We believe Hippo will change your life. It it doesn't, we'll give your money back.</p>
            <p>With <strong>love</strong>,<br>McArthur Gill + Will Schreiber</p>
          </header>
        </div>
      </section>

      <!-- Using Hippo -->
      <a name="manifesto"></a>
      <section id="using_hippo" class="how_to_hero step">
        <div class="inner max_bounds">
          <header class="center_header">
            <h3>Features</h3>
          </header>

          <div class="content second">
            <ul class="tabs second">
              <li class="tab_link current" data-tab="tab_6">SMS note entry</li>
              <li class="tab_link" data-tab="tab_7">Natural language processing</li>
              <li class="tab_link" data-tab="tab_8">Lightning-fast search</li>
              <li class="tab_link" data-tab="tab_9">Nudges</li>
              <li class="tab_link" data-tab="tab_10">iOS App</li>
            </ul>

            <div id="tab_6" class="tab_content current">
              <p>Text notes, random thoughts, details about friends (or anything!) to 615-724-9333. They'll be waiting for you in your Hippo.</p>
              <div class="how_to_art">
                <img src="/outside/images/screens/1.png" alt="">
              </div>
            </div>
            <div id="tab_7" class="tab_content">
              <p>Hippo uses natural language processing to automatically set Nudges on your notes in order to remind you about them later.</p>
              <div class="how_to_art">
                <img src="/outside/images/screens/2.png" alt="">
              </div>
            </div>
            <div id="tab_8" class="tab_content">
              <p>By writing things down about the people you meet, your conversations become searchable. Find notes using any obscure keyword you can remember. The search is brilliant.</p>
              <div class="how_to_art">
                <img src="/outside/images/screens/3.png" alt="">
              </div>
            </div>
            <div id="tab_9" class="tab_content">
              <p>Set Nudges to reminder details later. Birthdays. Anniversaries. Surgeries. Trips. Reminders to reach out. Gift ideas. Holidays. Milestones.</p>
              <div class="how_to_art">
                <img src="/outside/images/screens/4.png" alt="">
              </div>
            </div>
            <div id="tab_10" class="tab_content">
              <p>Hippo started as a mobile app. It's quick, nimble, and native. Built from the ground up for iOS.</p>
              <div class="how_to_art">
                <img src="/outside/images/screens/5.png" alt="">
              </div>
            </div>
            
          </div>

        </div>
      </section>
      
      <!-- iOS App -->
      <section id="view_ios" class="image_hero step" style="background:url('/outside/images/hero-01.jpg') no-repeat;">
        <div class="min_bounds">
          <header class="left_header" data-2600="transform: translate3d(0,100px,0); opacity:0" data-2800="opacity: 1; transform: translate3d(0,0,0);">
            <h4>Quick. Nimble. Native. Hippo for iOS.</h4>
            <!--<a href="https://appsto.re/us/_BWZ5.i" class="ocean button">Go to the App Store</a>-->
            <a href="#waitlist" class="ocean button">Coming Soon</a>
          </header>
        </div>
      </section>

      <!-- Sign Up -->
      <a name="waitlist"></a>
      <section id="sign_up" class="newsletter_hero step">
        <div class="inner max_bounds">
          <header class="center_header">
            <img class="hippo-icon-animated" src="/outside/images/svg/hippo-icon-animated-gradient.svg" alt="">
            <h3>Join the Waitlist</h3>
            <p>Sign up to get notified when you can begin using Hippo.</p>
          </header>
          <%= form_for(Waitlist.new, html: {class: 'sign_up split_form'}, remote: true) do |f| %>
            <div class="form_row">
              <%= f.text_field :email, placeholder: 'Email', class: 'email' %>
              <%= f.submit 'Join Waitlist', class: 'button seafoam submit' %>
            </div>
          <% end %>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer class="main_footer" role="contentinfo" aria-label="Site Footer">
      <div class="inner">
        <small>Made with <span class="text-pink">♥</span> in Nashville.</small>
        <small>Looking for help? Contact <a href="http://www.lxv.io">lxv</a></small>
      </div>
    </footer>
  </div>

 