<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-10 text-right">
        <p><%= link_to 'Download', 'https://appsto.re/us/_BWZ5.i' %> | <%= link_to 'Use Cases', '#' %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <div class="row">
          <%= image_tag 'https://dl-web.dropbox.com/get/Camera%20Uploads/2015-04-02%2009.40.01.png?_subject_uid=31070213&w=AADGDbqLQl2rtEw0la_SbjVPVFo0lo_9C5uSNi5TsELlIg', class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="row">
          <p class="lead"><b>Hippocampus.</b><br/>Convert short term memory to long term memory.</p>
        </div>
      </div>
    </div>
  </div>
</div>