<div class="search-results-list">
  <div class="search-buckets-container bucket-list-wrap buckets-list-wrap">  
    <li class="section"><h5>BUCKETS FOUND: {<span class="search-term"></span>}</h5></li>
    <ul class="list buckets-list scene_element--fadeinup scene_element scene_delay" id="search-results-bucket-list"></ul>
  </div>
  <div class="search-items-container thoughts-list-wrap">
    <li class="section"><h5>THOUGHTS FOUND: {<span class="search-term"></span>}</h5></li>
    <ul class="thoughts-list scene_element--fadeinup scene_element scene_delay" id="search-results-item-list">
    </ul>
  </div>
  <li class="section" id='end-of-list'><h5>--END OF SEARCH RESULTS--</h5></li>
</div>