<div class="search-results-list">
  <div class="search-buckets-container bucket-list-wrap buckets-list-wrap">
    <ul class="list buckets-list scene_element--fadeinup scene_element scene_delay" id="search-results-bucket-list"></ul>
  </div>
  <div class="search-items-container thoughts-list-wrap">
    <ul class="thoughts-list scene_element--fadeinup scene_element scene_delay" id="search-results-item-list"></ul>
  </div>
</div>