<% if notice %>
  <div class="row">
    <div class="col-xs-12">
      <br/>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <div class="intro-question col-sm-4 col-sm-offset-4" style="text-align:center;">
      <%= render 'introduction_question', :question => @questions.first, :qids => @qids, :flagged => @flagged %>
    </div>
  </div>
</div>