<% if notice %>
  <div class="row">
    <div class="col-xs-12">
      <br/>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <p class="lead"><b>Hippocampus.</b><br/>The palest ink is better than the best memory. Start converting short term memory to long term memory.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <p class="lead"><b>Text notes to:</b> (615) 724-9333</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <br/>
    <p class="lead"><b>Email notes to:</b> <%= link_to '49dab1c2f7eca0eeed345332894661c9@inbound.postmarkapp.com', 'mailto:49dab1c2f7eca0eeed345332894661c9@inbound.postmarkapp.com' %></p>
  </div>
</div>