<div class="row">
  <div class="col-xs-12">
    <%= link_to "Edit", edit_bucket_path(@bucket), :class => "btn btn-default btn-lg btn-block" %>
    <%= link_to "See All Buckets", user_buckets_path(current_user), :class => "btn btn-default btn-lg btn-block" %>
  </div>
</div>