
<div class="row">
  <div class="col-xs-12">
    <h3><%= @bucket.display_name %></h3>
    <br/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <% @bucket.items.by_date.each do |i| %>
        <%= render 'shared/items/listed_item', :i => i, :include_buckets => false %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'footer' %>
