<% if @user.buckets.count > 0 %>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <%= link_to "<h4 class='list-group-item-heading'>+ New Stack</h4>".html_safe, new_bucket_path(with_item: @item.id), class: 'list-group-item' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.buckets.recent_for_user_id(@user.id).excluding_pairs_for_item_id(@item.id).by_first_name.each do |b| %>
          <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name}</h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="list-group">
        <% @user.buckets.excluding_pairs_for_item_id(@item.id).by_first_name.each do |b| %>
          <%= link_to "<h4 class='list-group-item-heading'>#{b.display_name}</h4>".html_safe, bucket_item_pairs_path(bucket_item_pair: {bucket_id: b.id, item_id: @item.id}), {method: :post, class: 'list-group-item'} %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>