<% if @item.has_buckets? %>
  <div class="row">
    <div class="col-xs-12">
      <h6>Stacks:</h6>
      <p>
        <% @item.buckets.each do |b| %>
          <%= link_to b.display_name, b, {role: 'button', class: 'btn btn-default'} %>
        <% end %>
      </p>
    </div>
  </div>
<% end %>