<div class="row">
  <div class="lead col-xs-12">
    <p style="overflow:hidden;">
      <%= auto_link(simple_format(@item.message)) %>
    </p>
  </div>
</div>

<% if @item.reminder_date %>
  <div class="row">
    <div class="col-xs-12">
      <p>Reminder set for: <%= @item.formatted_reminder_date %></p>
    </div>
  </div>
<% end %>