<div class="row">
  <div class="col-xs-12">
    <p class="lead" style="overflow:hidden;">
      <%= @item.message %>
    </p>
  </div>
</div>

<% if @item.reminder_date %>
  <div class="row">
    <div class="col-xs-12">
      <p>Reminder set for: <%= @item.formatted_reminder_date %></p>
    </div>
  </div>
<% end %>