
<div class="row">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="<%= user_path(current_user) %>">Thoughts</a></li>
      <li><a href="<%= item_path(@item) %>">Thought</a></li>
      <li class="active">Edit</li>
    </ol>
  </div>
</div>

<%= render 'form' %>

<%= render 'footer' %>

