<h1>Listing items</h1>

<table>
  <tr>
    <th>Message</th>
    <th>User</th>
    <td>Created</td>
    <td>Input</td>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.message %></td>
    <td><%= item.user.phone %></td>
    <td><%= item.created_at_central_time.strftime("%D") %></td>
    <td><%= item.input_method %></td>
  </tr>
<% end %>
</table>

<br />
