<div class="col-xs-12">

  <div class="row">
    <div class="col-xs-12">
      <p id="notice" class="btn-primary"><%= notice %></p>
    </div>
  </div>
  
  <%= render 'detail' %>
  <br/>

  <%= render 'buckets' %>
  <br/>
  <br/>

  <%= render 'footer' %>

</div>  

<br/>
<br/>