<div class="buckets">
  <a href="#" id="toggle-bucket-select"><svg class="icon icon-bucket"><use xlink:href="#icon-bucket"></use></svg></a>
  <select name="" multiple="multiple" id="bucket-select">
  </select>
</div>