<div class="attachments">
  <ul class="image-previews">
    <% item.media_urls.each do |url| %>
      <li>
        <%= link_to '#', :class => "", "data-reveal-id" => "itemModal", :id => "", :onclick => 'replaceItemModal("'+item.local_key+'","'+item.message+'","'+item.created_at.strftime('%A, %B %e, %Y')+'")' do %>
          <%= image_tag url %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>