<div class="attachments">
  <ul class="image-previews">
    <% item.media_urls.each do |url| %>
      <li>
        <%= link_to "/items/<%= item.id %>" do %><%= image_tag url %><% end %>
      </li>
    <% end %>
  </ul>
</div>