<div class="attachments">
  <ul class="image-previews">
    <% item.media_urls.each do |url| %>
      <li>
        <%= link_to Rails.application.routes.url_helpers.item_path(item) do %><%= image_tag url %><% end %>
      </li>
    <% end %>
  </ul>
</div>