<div class="bucket-labels">
  <% if defined?(current_user) && defined?(item) %>
    <% item.visible_buckets_for_user(current_user).each do |b| %>
      <% if !defined?(@bucket) || b != @bucket %>
        <a class="label" href="/buckets/<%= b.id %>/info"><%= b.first_name %></a>
      <% end %> 
    <% end %>
  <% end %>
</div>