<div class="bucket-labels">
  <% item.visible_buckets_for_user(current_user).each do |b| %>
    <a class="label" href="<%= bucket_info_path(b) %>"><%= b.first_name %> <span class="remove"></span></a>
  <% end %>
</div>