<!-- Shortcuts -->
<div class="shortcuts-guide">
  <a href="#" class="triggerHide"><span class="close"></span></a>
  <header><h4>Keyboard Shortcuts</h4></header>
  <ul class="shortcut-list">

    <li>
      <span class="name">Link:</span>
      <span class="key">cmd + k</span>
      <span class="detail">[link](http://)</span>
    </li>
    
    <li>
      <span class="name">Bold:</span>
      <span class="key">cmd + b</span>
      <span class="detail">**bold**</span>
    </li>

    <li>
      <span class="name">Italic:</span>
      <span class="key">cmd + i</span>
      <span class="detail">*italic*</span>
    </li>

    <li>
      <span class="name">Unordered List:</span>
      <span class="key">-</span>
      <span class="detail">- Item</span>
    </li>

    <li>
      <span class="name">Ordered List:</span>
      <span class="key">1. </span>
      <span class="detail">1. Item</span>
    </li>

  </ul>
</div>