<div class="more">
  <a href="#" data-jq-dropdown="#more-options-menu-1"><svg class="icon icon-more"><use xlink:href="#icon-more"></use></svg></a>
  <div id="more-options-menu-1" class="center-dropdown jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
      <li>
        <%= link_to "", id: "duplicate-item", remote: true do %>
          <svg class="icon icon-duplicate"><use xlink:href="#icon-duplicate"></use></svg> Duplicate
        <% end %>
      </li>
      <li>
        <%= link_to @item, :method => :delete do %>
          <svg class="icon icon-trash"><use xlink:href="#icon-trash"></use></svg> Delete
        <% end %>
      </li>
    </ul>
  </div>
</div>