// ================================== Colors ==================================
$seafoam-1:																	#82D5BA;
$seafoam-2:																	#85EDD7;
$seafoam-3:																	#4BD6CB;
$ocean:																		#52B3F7;
$plum:																		#883D6D;
$grape:																		#6A4CA6;
$pop:																		#DDCCFF;
$royal:																		#943858;
$oil:																		#323232;
$smoke:																		#999999;
$dust:																		#B1B2B3;
$border-1:																	#E6E6E6;
$border-2:																	#EAEAEA;
$shadow:																	#C9C9C9;
$hollow:																	#D8D8D8;
$steel:																		#969696;
$slate:																		#757575;
$white:																		#FFF;
$silver:																	#F9F9FA;
$snow:																		#F7F7F7;
$ghost:																		#FEFEFE;
$pink:																		#EC008C;
$yellow:																	#F6EB61;

